body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 20px;
  width: 250px;
}

button {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  background: #0078D4;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #005bb5;
}
